@import 'tailwindcss';
@import './colors.css';
@import './colorToken.css';
@import './typoToken.css';

/* === [ GLOBAL DEFAULT STYLES ] === */
:root {
  --background: var(--color-white);
  --foreground: var(--color-black);
}

@theme {
  --font-pretendard: Pretendard, sans-serif;
}
@layer base {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    @apply font-pretendard;
  }
}

/* ========== [ CUSTOM SCROLL BAR ] ========== */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-gray300);
  border-radius: 8px;
  cursor: pointer;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 2px 2px 2px 2;
}
/* Firefox 대응 */
.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
